.heroimg {
    width: 100%;
    height: auto;
}

/* Default */
.mobile-gif {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
    .desktop-gif {
        display: none;
    }

    .mobile-gif {
        display: block;
    }
}