.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--blue-color);
    /* White preloader screen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-content {
    text-align: center;
    width: 300px;
}

.percent {
    font-size: 8rem;
    font-weight: 900;
    color: var(--yellow-color);
    line-height: 1;
    margin-bottom: 20px;
}

.bar-container {
    width: 100%;
    height: 2px;
    background: var(--yellow-color);
    overflow: hidden;
}

.bar {
    width: 0%;
    height: 100%;
    background: var(--white-color);
}

#content {
    opacity: 0;
    /* Hidden until preloader finishes */
    padding: 50px;
    color: white;
    min-height: 100vh;
}