.portfolio-section {
    background: #000080;
    color: white;
    padding: 20px 0 80px;
}

.rd-high-crusier {
    width: max-content;
    text-align: right;
    margin: 0 auto;
}

/* port-box-one */
.port-box-one {
    border-left: 2px dashed #ffffff6b;
    padding: 70px 30px;
}

/* port-box-two */
.port-box-two {
    border-right: 2px dashed #ffffff6b;
    padding: 70px 30px;
}

.box-one-first {
    border-right: 2px dashed #ffffff6b;
    border-bottom: 2px dashed #ffffff6b;
    padding: 50px 30px;
}

.box-one-sec {
    /* border-left: 2px dashed #ffffff6b; */
    border-bottom: 2px dashed #ffffff6b;
    padding: 50px 30px;
}

.box-two-first {
    /* border-right: 2px dashed #ffffff6b; */
    border-top: 2px dashed #ffffff6b;
    padding: 50px 30px;
}

.box-two-sec {
    border-left: 2px dashed #ffffff6b;
    border-top: 2px dashed #ffffff6b;
    padding: 50px 30px;
}

.port-box-bdr::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 620px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    border-left: 2px dashed #ffffff6b;
    z-index: 20;
}

@media screen and (max-width: 1024px) {
    .port-box-bdr::after {
        height: 640px;
    }
}

@media screen and (max-width: 900px) {
    .high-crusier {
        font-size: 90px;
    }

    .port-box-bdr::after {
        height: 570px;
    }
}

@media screen and (max-width: 600px) {
    .high-crusier {
        font-size: 50px;
    }

    .port-box-bdr::after {
        display: none;
    }

    .portfolio-section {
        padding: 0px 0 50px;
    }
}

@media screen and (max-width: 425px) {
    .high-crusier {
        font-size: 50px;
        line-height: normal;
    }

    .port-box-one {
        border-left: none;
    }

    .port-box-two {
        border-right: none;
        padding: 0;
    }

    .box-one-first,
    .box-one-sec {
        padding: 30px 20px;
    }

    .box-two-first,
    .box-two-sec {
        padding: 45px 20px 30px;
    }
}