:root {
    --blue-color: #000080;
    --yellow-color: #FFC700;
    --white-color: #fff;
    --black-color: #000;
    --font-league-spartan: 'League Spartan', sans-serif;
    --font-anton: 'Anton', sans-serif;
}

.blue-bg {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.league-spartan {
    font-family: var(--font-league-spartan);
}

.as-accordian-main {
    padding: 20px;
    border-radius: 10px;
}

.as-accordian-ttl {
    font-size: 20px;
    color: var(--yellow-color);
    font-weight: 500;
    text-transform: capitalize;
    /* margin-bottom: 10px; */
}

.as-accordian-main:nth-child(1) .as-accordian-ttl {
    margin-bottom: 0;
}

.client-review-main {
    border: 1px dashed #b2b2d9;
    border-radius: 15px;
    padding: 20px;
}

.client-review-main .swiper-slide {
    opacity: 1 !important;
}

.client-review-img {
    width: 70px;
}

.CRC-slider-btn {
    background-color: #ffffff00;
    border-radius: 6px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    z-index: 10;
}

.CRC-slider-btn img {
    width: 100%;
}

.ClientReviewsCustomNext {
    right: -14%;
}

.ClientReviewsCustomPrev {
    left: -14%;
}

.fs-20 {
    font-size: 20px;
}

.as-about-us-main {
    position: absolute;
    width: 84%;
    height: 65%;
    top: 22%;
    left: 0;
    z-index: 1;
    border-top: 2px dashed var(--white-color);
    border-right: 2px dashed var(--white-color);
    border-radius: 0 30px 30px 0;
    border-bottom: 2px dashed var(--white-color);
}

.as-about-us-main::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 10px;
    bottom: 0;
    transform: translate(0px, 5px);
    left: 0;
    z-index: 1;
    background-color: var(--blue-color);
}

.as-about-img {
    width: 100%;
    z-index: 9;
}

.we-do-main {
    overflow-x: hidden !important;
}

.we-do-main-heading {
    position: relative;
    margin-bottom: 60px;
}

.we-do-main-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 52%;
    transform: translate(0%, 8px);
    width: 100%;
    height: 1px;
    border-top: 2px dashed var(--white-color);
}

.we-do-heading {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 2;
}

.we-do-heading::after {
    content: "";
    position: absolute;
    top: -45px;
    right: -20%;
    transform: translateX(2px);
    width: 130px;
    height: 100px;
    border: 5px solid var(--white-color);
    background: url(../assets/thumbs-up.gif) no-repeat center / contain;
    border-radius: 10px;
    z-index: -1;
}

.as-we-do-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
}

.as-we-do-box {
    padding: 28px;
    border: 4px solid var(--white-color);
    border-radius: 14px;
    /* height: 100%; */
}

.box-content {
    width: 29%;
}

.box-seo {
    width: 69%;
}

.box-smm {
    width: 39%;
}

.box-influencer {
    width: 33%;
    /* margin-top: -15px; */
}

.box-video {
    width: 24%;
    /* margin-top: -15px; */
}

@media screen and (max-width: 1440px) {
    .CRC-slider-btn {
        /* background-color: #3e3eff; */
        border: none;
        width: 10%;
        padding: 10px;
    }

    .ClientReviewsCustomNext {
        right: -4%;
    }

    .ClientReviewsCustomPrev {
        left: -4%;
    }

    .as-about-us-main {
        width: 95%;
    }
}

@media screen and (max-width: 1200px) {
    .CRC-btn-box {
        margin-top: 20px;
        text-align: center;
    }

    .CRC-slider-btn {
        position: unset;
        top: 0;
        transform: translateY(0);
    }

    .CRC-slider-btn {
        padding: 5px;
    }

    .CRC-slider-btn img {
        height: 15px;
    }

    .as-about-us-main {
        width: 96%;
        height: 62%;
        top: 24%;
        transform: translateY(-2px);
    }

    .box-content {
        width: 35%;
    }

    .box-seo {
        width: 62%;
    }

    /* .we-do-main-heading::after {
        left: 50%;
    } */
}
@media screen and (max-width: 1200px) {
    .we-do-main-heading::after {
        left: 0% !important;
    }
}
@media screen and (max-width: 1024px) {
    .as-about-us-main {
        display: none;
    }

    .we-do-heading::after {
        width: 120px;
        height: 75px;
    }
}



@media screen and (max-width: 800px) {
    .as-about-box {
        display: flex;
        justify-content: center;
    }

    .as-about-img {
        width: 50%;
        margin-bottom: 30px;
    }

    .as-we-do-grid {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .box-content,
    .box-seo,
    .box-smm,
    .box-influencer,
    .box-video {
        width: auto;
    }

    .box-influencer,
    .box-video {
        margin-top: 0;
    }

    .we-do-main-heading::after {
        transform: translate(0%, 8px);
        left: 0;
    }

    .we-do-heading::after {
        width: 110px;
    }

    .we-do-main-heading {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .CRC-slider-btn {
        width: 25%;
        padding: 10px;
    }

    .as-about-img {
        width: 100%;
    }

    .we-do-heading::after {
        width: 100px;
        right: 0%;
    }
}

@media screen and (max-width: 425px) {
    .we-do-main-heading {
        margin-bottom: 40px;
    }

    .we-do-heading::after {
        width: 100px;
        right: -10%;
    }
}

/* btn */

.btn{
   margin: 30px auto 0px auto !important; 
}
.btn button{
    background: #ffd21f;
        border-radius: 30px;
        padding: 12px 25px;
        margin: 0 auto;
        width: max-content;
        font-weight: 500;
        vertical-align: middle;
        border: none;
}
@media (min-width: 1440px) {
    .pe-xl-5 {
        padding-right: 15rem;
    }
}