:root {
    --blue-color: #000080;
    --yellow-color: #FFC700;
    --white-color: #fff;
    --black-color: #000;
    --font-league-spartan: 'League Spartan', sans-serif;
    --font-anton: 'Anton', sans-serif;
}

.steps-section {
    width: 100%;
    padding: 100px 0px 0px 0px;
    background-color: var(--blue-color);
    color: white;
}


/* Header Styling (Red Box) */
.header-section {
    padding: 80px 10% 20px 10%;
    position: relative;
}

.steps-main-title {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    position: relative;
    z-index: 2;
}

.sub-title {
    color: var(--yellow-color);
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10px;
}

.einstein-img {
        position: absolute;
            right: 30%;
            top: -30px;
            width: 200px;
            z-index: 0;
    /* position: absolute;
    right: 10%;
    top: -65px;
    z-index: 0; */
    /* width: 200px; */
}

@media screen and (max-width: 1560px) {
    .einstein-img {
        right: 20%;
        top: -30px;
        width: 200px;
    }
}
@media screen and (max-width: 1440px){
    .einstein-img{
        right: 15%;
        top: -30px;
        width: 200px;
    }
}
@media screen and (max-width: 1360px) {
    .einstein-img {
        right: 10%;
        top: -30px;
        width: 200px;
    }
}
@media screen and (max-width: 1240px) {
    .einstein-img {
        right: 25%;
        top: -30px;
        width: 200px;
    }
}

/* Staircase Logic (Bottom Section) */
.staircase-container {
    display: flex;
    width: 100%;
    margin-top: 40px;
    border-bottom: 2px solid white;
    /* Bottom closing line */
}

.lead-line {
    width: 10%;
    border-right: 2px solid white;
    border-top: 2px solid white;
    margin-top: 50px;
}

.step {
    flex: 1;
    border-right: 2px solid white;
    position: relative;
    padding: 20px 15px 100px 15px;
}

.step::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

@media screen and (max-width: 991px) {
    .step::before{
        display: none;
    }
    .step{
        border-right: 0px;
    }
    .steps-main-title {
        font-size: 2rem !important;
    }
    .step{
        padding: 20px !important;
    }
}



.s1 {
    margin-top: 50px;
}

.s2 {
    margin-top: 100px;
}

.s3 {
    margin-top: 150px;
}

.s4 {
    margin-top: 200px;
}

.s5 {
    margin-top: 250px;
}

.exit-line {
    width: 10%;
    border-top: 2px solid white;
    margin-top: 300px;
}

.step-num {
    position: absolute;
    top: -35px;
    right: 10px;
    font-weight: 900;
    font-size: 1.3rem;
}

.step-heading {
    color: var(--yellow-color);
    font-weight: 900;
    /* font-size: 1.6rem; */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.step-content {
    /* font-size: 0.95rem; */
    line-height: 1.5;
}

.step-content b {
    font-weight: 800;
}

@media (max-width: 992px) {
    .staircase-container {
        flex-direction: column;
    }
    .steps-section{
        padding: 50px 0px 0px 0px;
    }

    .step {
        margin-top: 0 !important;
        border-top: 2px solid var(--white-color);
    }

    .lead-line,
    .exit-line,
    .einstein-img {
        display: none;
    }

    .step-num {
        position: static;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .steps-section{
        padding: 0px 0px 60px 0px;
    }

}
.thumbs-up-gif {
    width: 120px;
    height: auto;
    margin-top: 20px;
    border: 5px solid var(--white-color);
    border-radius: 10px;
    position: absolute;
    top: -40px;
    right: 27%;
}